# Server Port
PORT=3000

# Google Drive API Settings
# 서비스 계정의 JSON 키 내용을 문자열로 저장하세요 (줄바꿈 없이 혹은 ' '로 감싸서)
GOOGLE_CREDENTIALS_JSON='{"type": "service_account", ...}'

# 업로드할 구글 드라이브 폴더 ID (드라이브 폴더 URL 마지막 부분)
GOOGLE_DRIVE_FOLDER_ID='YOUR_FOLDER_ID'
